@import 'tailwindcss';

@plugin './hero.ts';
@plugin 'tailwind-scrollbar';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-light: #f6faff;
  --color-dark: #151515;
  --breakpoint-xs: 512px;
}

* {
	@apply scrollbar-none;
}

svg {
	@apply shrink-0;
}


body input:-webkit-autofill,
body input:-webkit-autofill:hover,
body input:-webkit-autofill:focus,
body input:-webkit-autofill:active,
.textarea_base textarea:-webkit-autofill,
.textarea_base textarea:-webkit-autofill:hover,
.textarea_base textarea:-webkit-autofill:focus,
.textarea_base textarea:-webkit-autofill:active {
	@apply transition-[background-color] delay-[0s] duration-[5000s] ease-[ease-in-out];
}